<div class="container">
  <div class="row">
  <ul class="">
    <% if @recommend.present? %>
      <h2>Easy</h2>
      <% @recommend[:easy].each do |problem| %>
        <% url = 'http://judge.u-aizu.ac.jp/onlinejudge/description.jsp?lang=jp&id=' %>
        <li><%= link_to problem.title, url + problem.code, target: '_blank' %></li>
      <% end %>
      <h2>Normal</h2>
      <% @recommend[:normal].each do |problem| %>
        <% url = 'http://judge.u-aizu.ac.jp/onlinejudge/description.jsp?lang=jp&id=' %>
        <li><%= link_to problem.title, url + problem.code, target: '_blank' %></li>
      <% end %>
      <h2>Hard</h2>
      <% @recommend[:hard].each do |problem| %>
        <% url = 'http://judge.u-aizu.ac.jp/onlinejudge/description.jsp?lang=jp&id=' %>
        <li><%= link_to problem.title, url + problem.code, target: '_blank' %></li>
      <% end %>
    <% else %>
      <p>問題を推薦できません</p>
    <% end %>
  </ul>
  </div>
</div>
