<% @page_title = 'アカウント編集' %>

<div class="col-md-6 col-md-offset-3">
  <h1>アカウントの編集</h1>
  <%= render 'shared/errors', obj: @admin %>

  <%= form_with model: @admin, url: admin_settings_path do |f| %>
    <%= render 'form', f: f %>
    <%= f.submit 'アカウントを更新する', class: 'btn btn-primary' %>
  <% end %>
</div>
