<div id="navbar" class="navbar-collapse collapse">
  <ul class="nav navbar-nav navbar-right">
    <% if current_admin.present? %>
      <li><%=link_to 'アカウント設定', edit_admin_settings_path %></li>
      <li><%= link_to 'ログアウト', admin_logout_path, method: :delete %></li>
    <% end %>
  </ul>
</div>
